@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  font: 62.5% "Noto Sans", sans-serif;
}

:root *,
:root *::before,
:root *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
  transition: background-image 1s 0s ease;
}

.clock-shield {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 900px;
  padding: 3rem;
  background: rgba(83, 83, 83, 0.219);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 0 10px 0px black;
  border-radius: 50%;
}

.clock__center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c3c3c3;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 1px #054261;
  z-index: 2;
}

.clock .square {
  position: absolute;
  padding: 2rem;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.clock .clock__hour {
  display: block;
  user-select: none;
}

.clock .square--1 {
  transform: translate(-50%, -50%) rotate(30deg);
}

.clock .clock__hour--1 {
  transform: rotate(-30deg);
}

.clock .square--2 {
  transform: translate(-50%, -50%) rotate(60deg);
}

.clock .clock__hour--2 {
  transform: rotate(-60deg);
}

.clock .square--3 {
  transform: translate(-50%, -50%) rotate(90deg);
}

.clock .clock__hour--3 {
  transform: rotate(-90deg);
}

.clock .square--4 {
  transform: translate(-50%, -50%) rotate(120deg);
}

.clock .clock__hour--4 {
  transform: rotate(-120deg);
}

.clock .square--5 {
  transform: translate(-50%, -50%) rotate(150deg);
}

.clock .clock__hour--5 {
  transform: rotate(-150deg);
}

.clock .square--6 {
  transform: translate(-50%, -50%) rotate(180deg);
}

.clock .clock__hour--6 {
  transform: rotate(-180deg);
}

.clock .square--7 {
  transform: translate(-50%, -50%) rotate(210deg);
}

.clock .clock__hour--7 {
  transform: rotate(-210deg);
}

.clock .square--8 {
  transform: translate(-50%, -50%) rotate(240deg);
}

.clock .clock__hour--8 {
  transform: rotate(-240deg);
}

.clock .square--9 {
  transform: translate(-50%, -50%) rotate(270deg);
}

.clock .clock__hour--9 {
  transform: rotate(-270deg);
}

.clock .square--10 {
  transform: translate(-50%, -50%) rotate(300deg);
}

.clock .clock__hour--10 {
  transform: rotate(-300deg);
}

.clock .square--11 {
  transform: translate(-50%, -50%) rotate(330deg);
}

.clock .clock__hour--11 {
  transform: rotate(-330deg);
}

.clock .square--12 {
  transform: translate(-50%, -50%) rotate(360deg);
}

.clock .clock__hour--12 {
  transform: rotate(-360deg);
}

.clock .pointer {
  position: absolute;
  height: 10px;
  margin: 1rem;
  border-radius: 20px;
  background: #262626;
  transform: translateX(50%);
  transform-origin: left;
  z-index: 1;
}

.clock .pointer--hours {
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
}

.clock .pointer--minutes {
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
}

.clock .pointer--seconds {
  height: 5px;
  width: 380px;
  background: rgba(255, 255, 255, 0.5);
}

.clock .pointer--seconds::before {
  position: absolute;
  top: 0;
  right: 100%;
  content: '';
  display: block;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.clock__hour {
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 4px white;
}

.history {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: transform .5s 0s ease, background 2s 0s ease;
}

.history__toggle {
  outline: none;
  position: absolute;
  top: 0;
  left: -50px;
  border: none;
  background: none;
  color: white;
  font-size: 4rem;
  cursor: pointer;
  transition: transform .3s 0s ease, background .3s 0s ease;
  border-radius: 10px;
  padding: 0 .5rem;
  margin: 1rem 0;
}

.history__toggle--opened {
  transform: rotate(180deg);
}

.history__toggle:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px 0 white;
}

.history--opened {
  transform: translateX(0);
  background: rgba(0, 0, 0, 0.24);
}

.history__app-store {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  overflow: auto;
  width: 100%;
  padding: 1rem;
}

.history__app-store .window {
  margin: 1rem 0;
}

.options-button {
  outline: none;
  margin: 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  user-select: none;
}

.options-button--dark {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.options-button--white {
  color: white;
  border: 1px solid #5fc5ac;
  background: rgba(36, 198, 90, 0.65);
  box-shadow: 0 0 15px 0 rgba(0, 255, 119, 0.5);
}

.stoper-content {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}

.stoper-content .timer-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stoper-content .counter {
  font-size: 5rem;
  color: white;
}
